@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./scrollbar";

body {
    color: var(--primary-text-color);
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    background: var(--primary-bg-color);
}

.content-page {
    display: flex;
}
