.LoginForm {
    width: 300px;
    margin: 5px auto 0;
}

.title {
    align-self: center;
    margin-bottom: 20px;
}

.error {
    align-self: flex-start;
    margin-bottom: 5px;
}

.input {
    margin-bottom: 10px;
}
