.title {
    color: var(--primary-text-color);
    font: var(--font-l);
}

.text {
    color: var(--secondary-text-color);
    font: var(--font-m);
}

.error {
    .title {
        color: var(--primary-error-color);
        font-weight: 700;
    }

    .text {
        color: var(--secondary-error-color);
        font-weight: 700;
    }
}

// выравнивание
.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

// насыщенность
.light {
    p {
        font-weight: 300;
    }
}

.normal {
    p {
        font-weight: 400;
    }
}

.bold {
    p {
        font-weight: 700;
    }
}
