.ArticleDetails {
    min-height: 100%;
}

.skeleton {
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.editBtn {
    margin-left: auto;
}

.avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.avatar {
    margin: 0 auto;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 15px;
}

.subtitle {
    margin-bottom: 30px;
}

.articleInfo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.block {
    margin: 20px 0;
}
