.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    color: var(--primary-text-color);
    transition: all 0.3s;
}

.outline {
    color: var(--primary-text-color);
    background: transparent;
    border: 1px solid var(--hover-bg-color);
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
        background: var(--hover-bg-color);
    }
}

.background {
    color: var(--primary-bg-color);
    background: var(--inverted-secondary-bg-color);
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
        background: var(--inverted-primary-bg-color);
        box-shadow: 0 0 5px 0 var(--inverted-primary-bg-color);
    }
}

.icon {
    padding: 0;

    &:hover {
        transform: scale(1.1);
    }
}

.square {
    padding: 0;
    border-radius: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
