.Button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline {
    padding: 5px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--inverted-bg-color);
    border-radius: 3px;
}
