.select {
    padding: 2px 10px 2px 2px;
    color: var(--primary-text-color);
    background: none;
    border: 1px solid var(--active-bg-color);
    outline: none;
}

.option {
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
}
