.app_dark_theme {
    --primary-bg-color: #222;
    --secondary-bg-color: #383838;
    --inverted-primary-bg-color: #fff;
    --inverted-secondary-bg-color: #eee;
    --active-bg-color: #4e4e4e;
    --hover-bg-color: #616161;

    --primary-text-color: #fff;
    --secondary-text-color: #bebebe;

    --overlay-color: rgb(0 0 0 / 60%);
}
