.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #303030;
    --primary-color: #000;
    --secondary-color: #303030;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #bebebe;
}
