.CommentCard {
    padding: 10px;
    border: 1px solid var(--active-bg-color);
    border-radius: 1px;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
