.Card {
    border-radius: 6px;
}

.primary {
    background: var(--secondary-bg-color);
    border: 1px solid var(--active-bg-color);
}

.outline {
    border: 1px solid var(--active-bg-color);
}

.size_s {
    padding: 5px;
}

.size_m {
    padding: 10px;
}
