.Navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;
    background: var(--secondary-bg-color);
    border-bottom: 1px solid var(--primary-bg-color);
}
