.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;
    background: var(--secondary-bg-color);
    border-bottom: 1px solid var(--primary-bg-color);
}

.links {
    margin-left: auto;

    a:not(:last-child) {
        margin-right: 15px;
    }
}
